<section class="block mat-elevation-z2 about">
  <div class="content">
    <h1>Interests</h1>
    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Chess</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://lh3.googleusercontent.com/5bZvh2nmZ-2B-kcKTuATofj5bhscTrJqveAHGYVoJKalfFOMEgx2VnyOth7oJ8bJzQ"
          alt="Lichess Logo"
        />
        <!-- <img
          mat-card-image
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Lichess_Logo.svg/1200px-Lichess_Logo.svg.png"
          alt="Lichess Logo"
        /> -->
        <mat-card-content>
          <p>
            “Chess doesn’t drive people mad, it keeps mad people sane.” – Bill
            Hartston
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://lichess.org/@/akmalkrmv" target="_blank">CHALLENGE ME</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
