<div class="unity-canvas-container">
  <div class="unity-canvas-wrapper">
    <ng-container *ngIf="(progress$ | async) < 100">
      <div class="loading">Loading...</div>
      <div class="progress">
        <mat-progress-bar mode="determinate" [value]="progress$ | async">
        </mat-progress-bar>
      </div>
    </ng-container>

    <canvas class="unity-canvas" id="unity-canvas"></canvas>

    <div class="fullscreen" (click)="enterFullscreen()">
      <mat-icon>fullscreen</mat-icon>
    </div>
  </div>
</div>
