<div class="content">
  <h1>Contacts</h1>
  <div class="contacts">
    <p>
      <a href="https://t.me/akmalkrmv" target="_blank">
        <mat-icon fontSet="fab" fontIcon="fa-telegram"></mat-icon>
        @akmalkrmv
      </a>
    </p>
    <p>
      <a href="https://github.com/akmalkrmv" target="_blank">
        <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
        akmalkrmv
      </a>
    </p>
    <p>
      <a href="skype:just.akmal?userinfo" target="_blank">
        <mat-icon fontSet="fab" fontIcon="fa-skype"></mat-icon>
        just.akmal
      </a>
    </p>
  </div>
</div>
