.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 2rem;
  row-gap: 0.5rem;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  a {
    display: flex;
    align-items: baseline;
  }

  [fontSet="fab"] {
    text-align: center;
  }
}
