<section class="page-transition">
  <app-sky class="full-screen"></app-sky>
</section>

<!-- <section><app-header class="container"></app-header></section> -->
<section><app-about class="container"></app-about></section>

<section class="page-transition invert">
  <app-infinite-mirror class="full-screen"></app-infinite-mirror>
</section>

<section><app-experience class="container"></app-experience></section>

<section class="page-transition">
  <app-projects class="container"></app-projects>
</section>

<section><app-contacts class="container"></app-contacts></section>
