<router-outlet></router-outlet>

<div class="back"></div>
<!-- <div class="placeholder"></div> -->

<article class="block mat-elevation-z2">
  <div class="content">
    <h1>Akmal Karimov</h1>

    <div class="info">
      <div>
        <div class="profile-pic">
          <img src="assets/images/profile.jpg" alt="akmalkrmv" />
        </div>
      </div>

      <div class="links">
        <p>
          <a href="https://t.me/akmalkrmv" target="_blank">
            <mat-icon
              [inline]="true"
              fontSet="fab"
              fontIcon="fa-telegram"
            ></mat-icon>
            @akmalkrmv
          </a>
        </p>
        <p>
          <a href="https://github.com/akmalkrmv" target="_blank">
            <mat-icon
              [inline]="true"
              fontSet="fab"
              fontIcon="fa-github"
            ></mat-icon>
            akmalkrmv
          </a>
        </p>
        <p>
          <a href="skype:just.akmal?userinfo" target="_blank">
            <mat-icon
              [inline]="true"
              fontSet="fab"
              fontIcon="fa-skype"
            ></mat-icon>
            just.akmal
          </a>
        </p>
      </div>
    </div>
  </div>
</article>

<app-experience></app-experience>
<app-projects></app-projects>
<app-interests></app-interests>
<app-contacts></app-contacts>
