<main class="parallax-container">
  <section class="parallax-background">
    <app-sky class="full-screen"></app-sky>
  </section>

  <!-- <section>
    <app-header class="container"></app-header>
  </section> -->

  <section class="page-transition">
    <app-about class="container"></app-about>
  </section>

  <!-- <div class="page-transition page-transition-bottom"></div> -->

  <section class="parallax-background">
    <app-infinite-mirror class="full-screen"></app-infinite-mirror>
  </section>

  <section class="page-transition invert">
    <app-experience class="container"></app-experience>
  </section>

  <section class="darker-background">
    <app-projects class="container"></app-projects>
  </section>

  <section class="page-transition">
    <app-contacts class="container"></app-contacts>
  </section>
</main>
