@use '~@angular/material' as mat;
@import "~@angular/material/theming";

.card {
  max-width: 280px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px 80px;

  .profile-pic {
    margin: 20px 0;
    width: 160px;
    height: 160px;
    border-radius: 100%;

    background-image: url("~/assets/images/profile.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @include mat.elevation(8);

    // animation-name: wobble;
    // animation-duration: 6s;
    // animation-timing-function: linear;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
  }

  .profile-pic img {
    width: 100%;
    display: none;
  }

  .links {
    font-size: 1.4em;

    a mat-icon {
      font-size: 1.6em;
      line-height: 40px;
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

@keyframes wobble {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 44% 56% 70%;
  }
  25% {
    border-radius: 37% 63% 65% 35% / 30% 44% 56% 70%;
  }
  50% {
    border-radius: 37% 63% 65% 35% / 44% 35% 65% 56%;
  }
  75% {
    border-radius: 51% 49% 32% 68% / 51% 35% 65% 49%;
  }
  100% {
    border-radius: 51% 49% 43% 57% / 57% 41% 59% 43%;
  }
}
