<article class="block mat-elevation-z2 about">
  <div class="content">
    <h1>About</h1>
    <div>
      <h2>Interests</h2>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Chess</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://lh3.googleusercontent.com/5bZvh2nmZ-2B-kcKTuATofj5bhscTrJqveAHGYVoJKalfFOMEgx2VnyOth7oJ8bJzQ"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Lichess_Logo.svg/1200px-Lichess_Logo.svg.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>Feel free to challenge me</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>CHALLENGE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</article>
