<div class="projects">
  <h1>Projects</h1>

  <div class="project-list">
    <mat-card class="project-item" *ngFor="let project of projects">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>local_offer</mat-icon>
        </div>
        <mat-card-title>{{ project.title }}</mat-card-title>
        <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
      </mat-card-header>

      <app-carousel class="project-images" [images]="project.images"></app-carousel>

      <!-- <div class="project-iamge">
        <img [src]="project.images[0]" />
      </div> -->

      <mat-card-content>
        <div class="tags">
          <mat-chip-list aria-label="Project tool">
            <mat-chip *ngFor="let item of project.tools">
              {{ item }}
            </mat-chip>
          </mat-chip-list>
        </div>
        <p [innerHTML]="project.description"></p>
      </mat-card-content>

      <mat-card-actions>
        <a mat-button [href]="project.link" target="_blank" color="accent">
          VISIT
        </a>
        <!-- <button mat-button>LIKE</button> -->
      </mat-card-actions>
    </mat-card>

    <!-- <div class="project-item" *ngFor="let project of projects">
      <div class="project-title">
        <h2>{{ project.title }}</h2>
      </div>

      <div class="project-iamge">
        <img [src]="project.image" />
      </div>

      <div class="project-description">
        {{ project.description }}
      </div>

      <div class="project-footer">
        <a [href]="project.link" target="_blank">
          <mat-icon [inline]="true">link</mat-icon>
          {{ project.link }}
        </a>
      </div>
    </div> -->
  </div>
</div>
