@use '@angular/material' as mat;
@import "@angular/material/theming";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-green: (
  50: #f3f9e6,
  100: #e1f0c2,
  200: #cde699,
  300: #b8dc70,
  400: #a9d551,
  500: #9acd32,
  600: #92c82d,
  700: #88c126,
  800: #7eba1f,
  900: #6cae13,
  A100: #f1ffe0,
  A200: #d9ffad,
  A400: #c2ff7a,
  A700: #b6ff60,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// $dark-green-primary: mat-palette($mat-indigo);
// $dark-green-accent: mat-palette($mat-pink, A200, A100, A400);
$dark-green-primary: mat.define-palette(mat.$deep-purple-palette);
$dark-green-accent: mat.define-palette($custom-green);

// The warn palette is optional (defaults to red).
$dark-green-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$dark-green-theme: mat.define-dark-theme(
  $dark-green-primary,
  $dark-green-accent,
  $dark-green-warn
);

// $light-green-primary: mat-palette($mat-indigo);
// $light-green-accent: mat-palette($mat-pink, A200, A100, A400);
$light-green-primary: mat.define-palette(mat.$deep-purple-palette);
$light-green-accent: mat.define-palette($custom-green);
// The warn palette is optional (defaults to red).
$light-green-warn: mat.define-palette(mat.$red-palette);

$light-green-theme: mat.define-light-theme(
  $light-green-primary,
  $light-green-accent,
  $light-green-warn
);
