*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee;
}

a {
  text-decoration: none;
}

// .mat-standard-chip.mat-chip-with-trailing-icon {
//   font-size: 12px;
//   padding: 6px;
//   border-radius: 2px;
//   min-height: 20px;
// }

// .back {
//   z-index: -1;
//   position: fixed;
//   top: -10px;
//   bottom: -10px;
//   left: -10px;
//   right: -10px;
//   width: 110%;
//   filter: blur(2px);
//   background-color: #000;
//   background-position: -460px -280px;
//   background-repeat: no-repeat;
//   background-size: auto 1200px;
//   background-image: url(/assets/images/profile.jpg);
//   //   background-image: url(/assets/images/profile.jpg),
//   //     linear-gradient(to left, #000000, #f1f1f1);
//   //   background-image: url(/assets/images/profile.jpg),
//   //     linear-gradient(to left, #000000, #393939, #717171, #afafaf, #f1f1f1);
// }

.placeholder {
  height: 100%;
  width: 100%;
}

section {
  .content {
    max-width: 1200px;
    margin: auto;
  }
}

.block {
  transition: all ease 0.3s;
  position: relative;
  padding: 40px;
  // margin: 20px;
  // min-height: 100%;
  // box-shadow: 0 -10px 8px 3px #ccc;
  border-bottom: 1px solid #aaa;

  background-color: #222;
  color: #fff;
  // background-color: #fff;
  // color: #333;

  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;

  // & > div {
  //   flex-grow: 1;
  // }

  .profile-pic {
    margin: 20px 80px 20px 0;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    //   border: 4px solid #ccc;
    box-shadow: 0 0 8px 1px #ccc;

    background-image: url("~/assets/images/profile.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .profile-pic img {
    width: 100%;
    display: none;
  }

  .links {
    font-size: 1.4em;

    a mat-icon {
      font-size: 1.6em;
      line-height: 40px;
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.experience {
  .job {
    margin-bottom: 40px;
  }
}

.about {
  .card {
    max-width: 280px;
  }
}

.contacts {
  display: flex;
  justify-content: space-around;
}

.tag {
  background-color: #666;
  font-size: 1rem;
}
