@import "@angular/material/theming";

:root {
  --text-color: #fff;
  --background-color: #222;
  --background-darker-color: #111;
  --background-lighter-color: #181818;

  --scrollbar-thumb: #aaa;
  --scrollbar-thumb-hover: #888;

  // --sky-color: #002142;
  // --sky-color: #031221;
  // --sky-color: #111;
  --sky-color: #031021;
  --mirrors-background: #031021;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);

  a {
    text-decoration: none;
    color: var(--text-color);
  }
}

body.light-theme {
  --text-color: #222;
  --background-color: #fff;
  --background-darker-color: #eee;
  --background-lighter-color: #d8d8d8;

  --scrollbar-thumb: #666;
  --scrollbar-thumb-hover: #888;

  --sky-color: hsl(45deg 100% 50%);
  --sky-color: hsl(199deg 100% 50%);

  --mirrors-background: #aaa;
  --mirrors-background: hsl(199deg 100% 50%);
  --mirrors-background: hsl(199deg 100% 75%);
  --mirrors-background: #f2f2f2;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin-block: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--scrollbar-thumb) transparent;
    scrollbar-width: thin;
  }
}

section {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 20px;

  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }
}

.darker-background {
  background-color: var(--background-darker-color);
}

.page-transition {
  $back-darker: var(--background-color);
  $back-lighter: var(--background-lighter-color);
  $left-to-right: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
  $right-to-left: polygon(0 100%, 100% 0, 100% 100%, 0 100%);

  position: relative;
  border-bottom: none;
  overflow: visible;

  @mixin transition-polygon($z, $back, $path) {
    z-index: $z;
    clip-path: $path;
    background-color: $back;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 12vh;
    top: -12vh;
    left: -1px;
    right: -1px;
  }

  &-bottom {
    &::before,
    &::after {
      top: 0;
      transform: rotate(180deg);
    }
    &::after {
      top: -1px;
    }
  }

  &::before {
    @include transition-polygon(2, $back-lighter, $left-to-right);
  }
  &::after {
    @include transition-polygon(3, $back-darker, $right-to-left);
  }

  &.invert {
    &::before {
      @include transition-polygon(2, $back-lighter, $right-to-left);
    }
    &::after {
      @include transition-polygon(3, $back-darker, $left-to-right);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
