@import "~@angular/material/theming";

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #222;
  color: #fff;
}

a {
  text-decoration: none;
}

section {
  border-bottom: 1px solid #444;
  background-color: #222;
  color: #fff;

  max-width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  position: relative;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 20px;

  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

.page-transition {
  $back-darker: #222;
  $back-lighter: #181818;
  $left-to-right: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
  $right-to-left: polygon(0 100%, 100% 0, 100% 100%, 0 100%);

  @mixin transition-polygon($z, $back, $path) {
    z-index: $z;
    background-color: $back;
    clip-path: $path;
  }

  position: relative;
  background-color: #111;
  border-bottom: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 85%;

    @include mat-elevation(8);
  }

  &:not(.invert) {
    &::before {
      @include transition-polygon(2, $back-lighter, $left-to-right);
    }
    &::after {
      @include transition-polygon(3, $back-darker, $right-to-left);
    }
  }

  &.invert {
    &::before {
      @include transition-polygon(2, $back-lighter, $right-to-left);
    }
    &::after {
      @include transition-polygon(3, $back-darker, $left-to-right);
    }
  }
}
