@use '@angular/material' as mat;
@import "src/_variables";

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .filter {
    width: 100%;
    max-width: 920px;
    margin: 40px auto;
  }

  .job-list {
    margin: auto;
  }

  .job {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    & > div {
      min-width: 320px;
      max-width: 600px;
    }

    h2 {
      max-width: 300px;
    }

    .description {
      max-width: 50ch;
    }

    .tag {
      background-color: #666;
      font-size: 1rem;
    }

    .job-footer {
      margin-top: 10px;
      display: flex;

      .website {
        display: inline-flex;
      }

      .location,
      .website a {
        display: inline-flex;
        gap: 4px;
        color: mat.get-color-from-palette($dark-green-accent);
      }
    }
  }
}

.tags {
  margin-bottom: 10px;
  max-width: 50ch;

  .mat-chip {
    font-size: 12px;
  }

  .mat-standard-chip {
    padding: 6px;
    border-radius: 2px;
    min-height: 20px;
  }
}
